[submodule "sources/meta-raspberrypi"]
	path = sources/meta-raspberrypi
	url = https://github.com/djwillis/meta-raspberrypi
[submodule "sources/meta-openembedded"]
	path = sources/meta-openembedded
	url = git://git.openembedded.org/meta-openembedded
